[submodule "pelican_plugin-render_math"]
	path = pelican_plugin-render_math
	url = https://github.com/barrysteyn/pelican_plugin-render_math
[submodule "pelican-elegant"]
	path = pelican-elegant
	url = git@github.com:MartinThoma/pelican-elegant.git
[submodule "pelican-tipue_search"]
	path = pelican-tipue_search
	url = git@github.com:MartinThoma/pelican-tipue_search.git
[submodule "pelican-toc"]
	path = pelican-toc
	url = git@github.com:MartinThoma/pelican-toc.git
