[submodule "pelican-elegant"]
	path = pelican-elegant
	url = git@github.com:MartinThoma/pelican-elegant.git
[submodule "pelican-tipue_search"]
	path = pelican-tipue_search
	url = git@github.com:MartinThoma/pelican-tipue_search.git
[submodule "pelican-toc"]
	path = pelican-toc
	url = git@github.com:MartinThoma/pelican-toc.git
[submodule "pelican-sitemap"]
	path = pelican-sitemap
	url = git@github.com:MartinThoma/pelican-sitemap.git
