<div class="addthis_toolbox">   
    <div class="custom_images">
            <a class="addthis_button_twitter"><img src="{{ site.baseurl }}/css/images/socialicons/twitter.png" width="32" height="32" alt="Twitter" /></a>
            <a class="addthis_button_delicious"><img src="{{ site.baseurl }}/css/images/socialicons/delicious.png" width="32" height="32" alt="Delicious" /></a>
            <a class="addthis_button_facebook"><img src="{{ site.baseurl }}/css/images/socialicons/facebook.png" width="32" height="32" alt="Facebook" /></a>
            <a class="addthis_button_digg"><img src="{{ site.baseurl }}/css/images/socialicons/digg.png" width="32" height="32" alt="Digg" /></a>
            <a class="addthis_button_stumbleupon"><img src="{{ site.baseurl }}/css/images/socialicons/stumbleupon.png" width="32" height="32" alt="Stumbleupon" /></a>
            <a class="addthis_button_favorites"><img src="{{ site.baseurl }}/css/images/socialicons/favorites.png" width="32" height="32" alt="Favorites" /></a>
            <a class="addthis_button_more"><img src="{{ site.baseurl }}/css/images/socialicons/more.png" width="32" height="32" alt="More" /></a>
    </div>
    <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js?pub=xa-4a65e1d93cd75e94"></script>
</div>
