<div class="entry" id="contentAfterTitle">
    {% if post.featured_image %}
    <a href="{{ site.baseurl }}{{ post.url }}/"><img width="128" height="128" src="{{ site.baseurl }}/images/{{ post.featured_image }}" class="alignleft post_thumbnail wp-post-image" alt="{{ post.title }}"/></a>
    {% endif %}

    {{ post.content | markdownify | strip_html | truncatewords:75 | replace:'%' '' }}

    {% comment %}
    {{ post.excerpt | replace:'$','' }}
    {% endcomment %}
    <div class="readmorecontent">
        <a class="readmore" href="{{ site.baseurl }}{{ post.url }}/" rel="bookmark" title="Permanent Link to '{{ post.title }}'">Read More &raquo;</a>
    </div>
</div>
