<!-- type: header.html -->
<div id="header" role="banner">
    <h1><a href="{{ site.baseurl }}">Martin Thoma</a></h1>
    <h2>A blog about Code, the Web and Cyberculture.</h2>
</div>
<nav class="navcontainer" role="navigation">
	<ul id="nav">
		<li class="{% if page.context == 'home' %}current_page_item{% endif %}"><a href="{{ site.baseurl }}">Home</a></li>
		<li class="page_item page-item-41 {% if page.context == 'about' %}current_page_item{% endif %}"><a href="{{ site.baseurl }}/author/martin-thoma/">About Me</a></li>
        <li class="page_item page-item-91 {% if page.context == 'imprint' %}current_page_item{% endif %}"><a href="{{ site.baseurl }}/imprint/">Imprint</a></li>
	</ul>
</nav>
