<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
  <!-- type: head.html -->
  <head profile="http://gmpg.org/xfn/11">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/css/print.css" type="text/css" media="print" />
    <link link rel="stylesheet" href="{{ site.baseurl }}{% minified_css_file %}" type="text/css" media="screen" />

    <link rel="alternate" type="application/rss+xml" title="Martin Thoma RSS Feed" href="{{ site.baseurl }}/feed/" /><!--TODO-->
    <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico" type="image/x-icon" />

    <link rel="canonical" href="{{ site.baseurl }}{{ page.url | replace:'index.html',''}}" />
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:site" content="@themoosemind"/>
    <meta name="twitter:domain" content="Martin Thoma"/>
    <meta name="twitter:creator" content="@themoosemind"/>

    {% if page.featured_image %}
        <meta name="twitter:image:src" content="{{ site.baseurl }}/images/{{ page.featured_image }}"/>
    {% endif %}

    {% if page.description %}
        <meta name="twitter:description" content="{{page.description}}" />
    {% else %}
        <meta name="twitter:description" content="{{site.description}}" />
    {% endif %}

    <meta name="twitter:title" content="{{ page.title }} - Martin Thoma"/>
    <meta name="twitter:url" content="{{ site.baseurl }}{{ page.url | replace:'index.html',''}}"/>

    <link rel='stylesheet' id='toc-screen-css'  href="{{ site.baseurl }}/css/tocplus-screen.css" type='text/css' media='all' />
<script type='text/javascript' src="{{ site.baseurl }}/js/jquery.js"></script>
<script type='text/javascript' src="{{ site.baseurl }}/js/jquery-migrate.min.js"></script>
<style type="text/css">div#toc_container {width: 275px;}</style>
<style type="text/css" id="syntaxhighlighteranchor"></style>

</head>
