<!doctype html>
<html lang="en">
  <!-- type: head.html -->
  <head>
    <meta charset="utf-8">
    {% if page.url contains '/page/' or page.url contains '/tag/' or page.url contains '/category/' %}
        <meta name="robots" content="noindex" />
    {% endif %}
    {% if page.description %}
        <meta name="description" content="{{ page.description }}" />
    {% endif %}

    {% if page.featured_image %}
        <meta name="thumbnail" content="{{ site.baseurl }}/images/{{ page.featured_image }}" />
        <meta property="og:image" content="{{ site.baseurl }}/images/{{ page.featured_image }}" />
    {% endif %}

    <meta property="og:type" content="blog"/>

    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/css/screen.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ site.baseurl }}/css/pygments.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ site.baseurl }}/css/tocplus-screen.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ site.baseurl }}/css/print.css" type="text/css" media="print" />
    <link rel="stylesheet" href="{{ site.baseurl }}/css/handheld.css" type="text/css" media="only screen and (max-device-width: 480px)" />

    <link rel="alternate" type="application/rss+xml" title="Martin Thoma RSS Feed" href="{{ site.baseurl }}/feed/" /><!--TODO-->
    <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico" type="image/x-icon" />

    <link rel="canonical" href="{{ site.baseurl }}{{ page.url | replace:'index.html',''}}" />
    {% include twitter.html %}

    <script type='text/javascript' src="{{ site.baseurl }}/js/jquery.js"></script>
    <script type='text/javascript' src="{{ site.baseurl }}/js/jquery-migrate.min.js"></script>
    <style type="text/css">div#toc_container {width: 275px;}</style>
    <style type="text/css" id="syntaxhighlighteranchor"></style>

<!-- MathJax -->
<script type="text/x-mathjax-config">
<!--
MathJax.Hub.Config({
  jax: ["input/TeX", "output/HTML-CSS"],
  tex2jax: {
    inlineMath: [['$','$'], ['\\(','\\)']],
    displayMath: [ ['$$', '$$'], ['\\[','\\]']],
    skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code'],
    processEscapes: true
  }
});

MathJax.Hub.Queue(function() {
    var all = MathJax.Hub.getAllJax(), i;
    for(i=0; i < all.length; i += 1) {
        all[i].SourceElement().parentNode.className += ' has-jax';
    }
});
// -->
</script>
<script type="text/javascript" async
  src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
</script>

<!-- Latest compiled and minified CSS bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
