<!DOCTYPE html>
<html>
  <!-- type: head.html -->
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    {% if page.url contains '/page/' or page.url contains '/tag/' or page.url contains '/category/' %}
        <meta name="robots" content="noindex" />
    {% endif %}

    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}{% minified_css_file %}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ site.baseurl }}/css/print.css" type="text/css" media="print" />
    <link rel="stylesheet" href="{{ site.baseurl }}/css/handheld.css" type="text/css" media="handheld" />

    <link rel="alternate" type="application/rss+xml" title="Martin Thoma RSS Feed" href="{{ site.baseurl }}/feed/" /><!--TODO-->
    <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico" type="image/x-icon" />

    <link rel="canonical" href="{{ site.baseurl }}{{ page.url | replace:'index.html',''}}" />
    {% include twitter.html %}

    <script type='text/javascript' src="{{ site.baseurl }}/js/jquery.js"></script>
    <script type='text/javascript' src="{{ site.baseurl }}/js/jquery-migrate.min.js"></script>
    <style type="text/css">div#toc_container {width: 275px;}</style>
    <style type="text/css" id="syntaxhighlighteranchor"></style>
</head>
