<!-- type: searchbox.html - TODO-->
<ul>
    <li id="search">
        <div class="searchlayout">
            <form method="get" id="searchform" action="http://martin-thoma.com/search/">
                <input type="text" value="Search" 
                    name="s" id="s"  onblur="if (this.value == '')  {this.value = 'Search';}"  
                    onfocus="if (this.value == 'Search') {this.value = '';}" />
                <input type="image" src="{{ site.baseurl }}/css/images/search.gif" style="border:0; vertical-align: top;" /> 
            </form>
        </div>
    </li>
</ul>
