<!-- type: searchbox.html - TODO-->
<ul>
    <li id="search">
        <div class="searchlayout">
            <form method="get" id="searchform" action="http://google.com/cse">
                <input type="hidden" name="cx" value="017345337424948206369:qrnnnentkkk" />
                <input type="text" value="Search with Google" 
                    name="q" id="s"  onblur="if (this.value == '')  {this.value = 'Search';}"  
                    onfocus="if (this.value == 'Search') {this.value = '';}" />
                <input type="image" src="{{ site.baseurl }}/css/images/search.gif" style="border:0; vertical-align: top;" /> 
            </form>
        </div>
    </li>
</ul>
