<meta name="twitter:card" content="summary"/>
<meta name="twitter:site" content="@themoosemind"/>
<meta name="twitter:creator" content="@themoosemind"/>
<meta name="twitter:title" content="{{ page.title }}"/>
{% if page.description %}
    <meta name="twitter:description" content="{{page.description}}" />
{% else %}
    <meta name="twitter:description" content="{{site.description}}" />
{% endif %}
{% if page.featured_image %}
    <meta name="twitter:image" content="{{ site.baseurl }}/images/{{ page.featured_image }}"/>
{% endif %}


<meta name="twitter:url" content="{{ site.baseurl }}{{ page.url | replace:'index.html',''}}"/>
