<footer class="site-footer no-print">
    <div class="wrap">
        {% from '_includes/_defaults.html' import SITESUBTITLE with context %}
        <ul class="footer-content">
            {% if SITESUBTITLE %}
            <li class="elegant-subtitle"><span class="site-name">{{ SITENAME }}</span> – {{ SITESUBTITLE }}</li>
            {% endif %}
            <li><a href="https://martin-thoma.com/email-subscription">E-mail subscription</a></li>
            <li><a href="https://martin-thoma.com/feeds/index.xml">RSS feed</a></li>
            <li><a href="https://www.martin-thoma.de/privacy.htm">Privacy / Datenschutzerklärung</a></li>
            <li><a href="https://www.martin-thoma.de/impressum.htm">Impressum</a></li>
            {% from '_includes/_defaults.html' import SITE_LICENSE with context %}
            {% if SITE_LICENSE %}<li class="elegant-license">{{ SITE_LICENSE }}</li>{% endif %}
            <li>Powered by <a href="https://getpelican.com/">Pelican</a></li>
        </ul>
    </div>
</footer>
