table.transparent, table.transparent tr, table.transparent tr td {
    border: 0px;
}

article table {
    table-layout: auto;
}

table {
    width:100%;
    padding: 0;
    border-collapse: collapse;
    margin-top: 2px;
    margin-bottom:5px;
}
table tr {
    border: 1px solid #ddd;
    background-color: white;
    margin: 0;
    padding: 0;
}
table tr:nth-child(2n) {
    background-color: #f8f8f8;
}
table tr th {
    font-weight: bold;
    border: 1px solid #ddd;
    text-align: left;
    margin: 0;
    padding: 6px 13px;
}
table tr td {
    border: 1px solid #ddd;
    text-align: left;
    margin: 0;
    padding: 6px 13px;
}
table tr th :first-child, .table tr td :first-child {
    margin-top: 0;
}
table tr th :last-child, .table tr td :last-child {
    margin-bottom: 0;
}

/******************************************************
    [ MISC (WP GENERATED) ]
*******************************************************/

.categories {}
.cat-item {}
.current-cat {}
.current-cat-parent {}
.pagenav {}
.page_item {}
.current_page_item {}
.current_page_parent {}
.widget {}
.widget_text {}
.blogroll {}
.linkcat{}

/******************************************************
    [ my ones ]
*******************************************************/
div.example {
    overflow: hidden;
    padding-left: 9px;
    color: #666;
    border-left: 3px solid #A6F0DD;
    margin-bottom: 11px;
}

code, span.code {
    background-color: #f8f8f8;
    padding: 1px 2px;
}
pre {background: #f5f5f5; border: 1px solid #eee; padding-top: 0.5em;
     overflow: auto;}
p code, li code {
    background: #f5f5f5;
    border:1px solid #ddd;
    border-radius:3pt;
    white-space: nowrap;
}

.quote-source {
    margin-bottom: 0;
    padding-bottom: 0;
    font-size: 12px;
}

.definition, .important {
    border: 2px solid red;
    padding: 7px;
    padding-bottom: 0;
    margin-bottom: 12px;
    background-color: #FEE;
}

.frage {
    border: 2px solid #FFB100;
    padding: 7px;
    padding-bottom: 0;
    margin-bottom: 12px;
    background-color: #FFD473;
}

.satz, .theorem {
    border: 2px solid #E6DB55;
    padding: 7px;
    padding-bottom: 0;
    margin-bottom: 12px;
    background-color: lightYellow;
}
div.info {
    border: 2px solid #134870;
    padding: 7px;
    padding-bottom: 0;
    margin-bottom: 12px;
    background-color: #DDF0FF;
}

div.warning {
    border: 2px solid #D8000C;
    padding: 7px;
    padding-bottom: 0;
    margin-bottom: 12px;
    background-color: #FFBABA;
    color: #D8000C;
}

table.wikitable {
    margin: 1em 1em 1em 0;
    background-color: #F9F9F9;
    border: 1px #AAA solid;
    border-collapse: collapse;
    color: black;
}

table.wikitable th {
    background-color: #F2F2F2;
    border: 1px #AAA solid;
    padding: 0.2em;
    text-align: center;
}

table.wikitable td {
    border: 1px #AAA solid;
    padding: 0.2em;
    text-align: center;
}
.hintergrundfarbe7 {
    background-color: #FFCBCB;
}
.hintergrundfarbe8 {
    background-color: #FFEBAD;
}
.hintergrundfarbe9 {
    background-color: #B9FFC5;
}

/* source: http://meta.stackoverflow.com/a/2049/158075 */
kbd {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    background:#EEEEEE none repeat scroll 0 0;
    border-color:#CCCCCC #AAAAAA #888888 #BBBBBB;
    border-style:solid;
    border-width:1px 1px 2px 2px;
    color:#000000 !important;
    padding:2px 1px;

    white-space:nowrap;
}


div.question {
    background-color: #efefdf;
    padding: 13px 13px 1px 13px;
    margin-bottom: 13px;
}

div.answer {
    background-color: #ffefef;
    padding: 7px 0px 0px 2px;
    margin-bottom: 7px;
}

.smallCaps {
    font-variant:small-caps;
}

span.hint {
    border-bottom:1px dotted #666;
}

ol.roman {
    counter-reset: item;
    margin-left: 0;
    padding-left: 0;
}

ol.roman li {
    display: block;
    margin-bottom: .5em;
    margin-left: 2em;
    list-style-type:upper-roman;
}

ol.roman li:before {
    display: inline-block;
    content: counter(item, upper-roman) ") ";
    counter-increment: item;
    width: 2em;
    margin-left: -2em;
}

div.highlight pre {
    border-radius: 3px;
    padding: 6px 10px;
    font-size: 13px;
    border: 1px solid #ddd;
    background-color: #f8f8f8;
}

code.has-jax {font: inherit; font-size: 100%; background: inherit; border: inherit;}

ul.gallery {
    margin: 2px;
    padding: 2px;
    display: block;
}

li.gallerybox {
    vertical-align: top;
    display: inline-block;
}

li.gallerybox div.thumb {
    text-align: center;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    margin: 2px;
}

div.gallerytext {
    overflow: hidden;
    font-size: 94%;
    padding: 2px 4px;
    word-wrap:break-word;
}


.gallerycanvas {
    width: 140px;
    height: 140px;
    border: 1px solid black;
    background: #cdcdcd;
}

/* code */
div.highlighter-coderay {
    width: 650px;
}

div.code pre {
    padding-left: 3px;
}

span.line-numbers {
    margin-right: 10px;
}

span.line-numbers a {
    color: #B3B3B3;
}

/* kbd */
kbd {
    background-color: #eee !important;
    color: #000;
}



/* table */
table caption {
    background: transparent;
    font-weight: bold;
    text-align: center;
}



/* Anchors - Credit to http://ben.balter.com/2014/03/13/pages-anchor-links/ */
a.deepLink {
    color: #F3F3F3 !important;
}

.header-link {
  position: absolute;
  left: -0.5em;
  opacity: 0;

  -webkit-transition: opacity 0.2s ease-in-out 0.1s;
  -moz-transition: opacity 0.2s ease-in-out 0.1s;
  -ms-transition: opacity 0.2s ease-in-out 0.1s;
}

h2:hover .header-link,
h3:hover .header-link,
h4:hover .header-link,
h5:hover .header-link,
h6:hover .header-link {
  opacity: 1;
}

figure {
    border: 1px solid #ddd;
    text-align: center;
    background-color: #f3f3f3;
    padding-top: 4px;
    margin: 10px;
    border-radius: 3px;
    display: table;
/*    width: 1px;*/
}

.article-content figure img {
    border: 0px;
}

figcaption {
    font-size: 11px;
    line-height: 17px;
    padding: 0 4px 5px;
    margin: 0;
    display: table-row;
}

.alignright {
    float: right;
}

.table-borderless tbody tr td, .table-borderless tbody tr th, .table-borderless thead tr th {
    border: none;
}

.border-0 {
    border: 0;
}