---
layout: default-wp
---
<!-- type: category-index-->
<h2 class="pagetitle">Archive for the ‘{{page.category}}’ Category</h2>
  {% for post in site.posts %}
  {% for category in post.categories %}
  {% if category == page.category %}
	<div class="{{ post.id }} post type-post status-publish format-standard hentry category-code tag-algorithms tag-geometry tag-python clearfix" id="{{ post.id }}">
        <h2 class="title"><a href="{{ post.url }}" rel="bookmark" title="Permanent link to '{{ post.title }}'">{{ post.title }}</a></h2>
		<div class="postdate">
            <span>{{ post.date | date: '%B' }} {{ post.date | date: '%e' }}, {{ post.date | date: '%Y' }}</span> 
            <!--<span>No Comments / 1 comment / 2 comments</span>-->
        </div>

		<div class="entry">
            {% if post.featured_image %}
            <img width="128" height="128" src="{{ site.baseurl }}/images/{{ post.featured_image }}" class="alignleft post_thumbnail wp-post-image" alt="{{ post.title }}"/>
            {% endif %}
 
			{{ post.excerpt }}
            <div class="readmorecontent">
				<a class="readmore" href="{{ post.url }}" rel="bookmark" title="Permanent Link to {{ post.title }}">Read More &raquo;</a>
			</div>
		</div>
        <div class="postmeta">Posted in <a href="{{ site.baseurl }}/category/{{page.category}}/" title="View all posts in {{page.category}}" rel="category tag">{{page.category}}</a> | Tags: {% for tag in post.tags %}
                                {% if forloop.index0 == 0 %}
                                    <a href="{{ site.baseurl }}/tag/{{ tag }}">{{ tag }}</a>{% else %}, <a href="{{ site.baseurl }}/tag/{{ tag }}">{{ tag }}</a>
                                {% endif %}
                            {% endfor %} </div>
	</div>
  {% endif %}
  {% endfor %}
  {% endfor %}
