{% include head.html %}
<!-- type: page.html -->
<body>
	<div id="wrapper">
		<div id="container" class="container">
			<div class="span-16">
                {% include header.html %}
            	<div id="content">	
                    <div class="post type-post status-publish format-standard hentry clearfix" id="post-76726">
                        <h2 class="title entry-title">{{ page.title }}</h2>
			            <div class="postdate">
                            <span>{% assign d = page.date | date: "%d" | plus:'0' %}
                                {{ page.date | date: "%B" }} 
                                {% case d %}
                                  {% when 1 or 21 or 31 %}{{ d }}st
                                  {% when 2 or 22 %}{{ d }}nd
                                  {% when 3 or 23 %}{{ d }}rd
                                  {% else %}{{ d }}th
                                  {% endcase %}, 
                                {{ page.date | date: "%Y" }}
                            </span>
                            <!-- TODO<span><a href="check-point-inside-polygon/#respond" title="Comment on How to check if a point is inside of a polygon?">No Comments</a></span>-->
                        </div>
			
						<div class="entry">
                            {{content}}
						</div>

							<div class="clearfix">&nbsp;
							</div>
	
						</div>
                    </div>
			    </div>
            <div class="span-8 last">
                {% include subscriptions.html %}
	<div id="sidebar">
        {% include searchbox.html %}
        {% include addthis-toolbox.html %}
    					        
		<ul>
    <li id="categories-3" class="widget widget_categories">
        {% include categories.html %}
    </li>
    <li id="tag_cloud-3" class="widget widget_tag_cloud"><h2 class="widgettitle">Tags</h2><div class="tagcloud">{% tag_cloud font-size: 90 - 270.00%, threshold: 5%}</div>
</li>		</ul>
	</div>
</div>
		</div><!--/container-->
			<div id="footer">
				<a href="{{ site.baseurl }}"><strong>Martin Thoma</strong></a> -  A blog about Code, the Web and Cyberculture. <br />
                <div class="footer-credits">
                    <a href="http://flexithemes.com/themes/modern-style/">Modern Style</a> theme by <a href="http://flexithemes.com/">FlexiThemes</a>
                </div>
			</div><!--/footer-->
            
	</div><!--/wrapper-->
{% include footer.html %}
