{% include head.html %}
<!-- type: page.html -->
<body>
	<div id="wrapper">
		<div id="container" class="container">
			<div class="span-16">
                <div id="header">
                    <h1><a href="{{ site.baseurl }}">Martin Thoma</a></h1>
				    <h2>A blog about Code, the Web and Cyberculture.</h2>
			    </div>
                <div class="navcontainer">
					<ul id="nav">
						<li><a href="{{ site.baseurl }}">Home</a></li>
						<li class="page_item page-item-41"><a href="{{ site.baseurl }}/about-martin-thoma/">About Me</a></li>
                        <li class="page_item page-item-91"><a href="{{ site.baseurl }}/imprint/">Imprint</a></li>
					</ul>
				</div>
            	<div id="content">	
                    <div class="post type-post status-publish format-standard hentry category-code tag-algorithms tag-geometry tag-python clearfix" id="post-76726">
                        <h2 class="title entry-title">{{ page.title }}</h2>
			            <div class="postdate">
                            <span>{% assign d = page.date | date: "%d" | plus:'0' %}
                                {{ page.date | date: "%B" }} 
                                {% case d %}
                                  {% when 1 or 21 or 31 %}{{ d }}st
                                  {% when 2 or 22 %}{{ d }}nd
                                  {% when 3 or 23 %}{{ d }}rd
                                  {% else %}{{ d }}th
                                  {% endcase %}, 
                                {{ page.date | date: "%Y" }}
                            </span>
                            <!-- TODO<span><a href="check-point-inside-polygon/#respond" title="Comment on How to check if a point is inside of a polygon?">No Comments</a></span>-->
                        </div>
			
						<div class="entry">
                            {{content}}
						</div>

							<div class="clearfix">&nbsp;
							</div>
	
						</div>
                    </div>
			    </div>
            <div class="span-8 last">
                <div id="subscriptions">
                    <a href="{{ site.baseurl }}/feed/"><img src="{{ site.baseurl }}/css/images/rss.png" alt="Subscribe to RSS Feed" title="Subscribe to RSS Feed" /></a>		
		<a href="http://twitter.com/#!/themoosemind" title="Follow me on Twitter!"><img src="{{ site.baseurl }}/css/images/twitter.png" title="Follow me on Twitter!" alt="Follow me on Twitter!"  /></a>    </div>
	<div id="sidebar">
        <ul>
            <li id="search">
				 
<div class="searchlayout">
    <form method="get" id="searchform" action="{{ site.baseurl }}"> <!--TODO-->
        <input type="text" value="Search" 
            name="s" id="s"  onblur="if (this.value == '')  {this.value = 'Search';}"  
            onfocus="if (this.value == 'Search') {this.value = '';}" />
        <input type="image" src="{{ site.baseurl }}/css/images/search.gif" style="border:0; vertical-align: top;" /> 
    </form>
</div>			</li>
        </ul>
            			<div class="addthis_toolbox">   
    			    <div class="custom_images">
    			            <a class="addthis_button_twitter"><img src="{{ site.baseurl }}/css/images/socialicons/twitter.png" width="32" height="32" alt="Twitter" /></a>
    			            <a class="addthis_button_delicious"><img src="{{ site.baseurl }}/css/images/socialicons/delicious.png" width="32" height="32" alt="Delicious" /></a>
    			            <a class="addthis_button_facebook"><img src="{{ site.baseurl }}/css/images/socialicons/facebook.png" width="32" height="32" alt="Facebook" /></a>
    			            <a class="addthis_button_digg"><img src="{{ site.baseurl }}/css/images/socialicons/digg.png" width="32" height="32" alt="Digg" /></a>
    			            <a class="addthis_button_stumbleupon"><img src="{{ site.baseurl }}/css/images/socialicons/stumbleupon.png" width="32" height="32" alt="Stumbleupon" /></a>
    			            <a class="addthis_button_favorites"><img src="{{ site.baseurl }}/css/images/socialicons/favorites.png" width="32" height="32" alt="Favorites" /></a>
    			            <a class="addthis_button_more"><img src="{{ site.baseurl }}/css/images/socialicons/more.png" width="32" height="32" alt="More" /></a>
    			    </div>
    			    <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js?pub=xa-4a65e1d93cd75e94"></script>
    			</div>
    					        
		<ul>
    <li id="categories-3" class="widget widget_categories">
        {% include categories.html %}
    </li>
    <li id="tag_cloud-3" class="widget widget_tag_cloud"><h2 class="widgettitle">Tags</h2><div class="tagcloud">{% tag_cloud font-size: 90 - 270.00%, threshold: 5%}</div>
</li>		</ul>
	</div>
</div>
		</div><!--/container-->
			<div id="footer">
				<a href="{{ site.baseurl }}"><strong>Martin Thoma</strong></a> -  A blog about Code, the Web and Cyberculture. <br />
                <div class="footer-credits">
                    <a href="http://flexithemes.com/themes/modern-style/">Modern Style</a> theme by <a href="http://flexithemes.com/">FlexiThemes</a>
                </div>
			</div><!--/footer-->
            
	</div><!--/wrapper-->
{% include footer.html %}
