{% include head.html %}
<!-- type: post.html -->
<body>
    <div id="wrapper">
        <div id="container" class="container">
            <div class="span-16">
                {% include header.html %}
                <div id="content">
                    <article class="post type-post format-standard hentry clearfix" itemscope itemType="{% if page.itemtype %}{{page.itemtype}}{% else %}http://schema.org/BlogPosting{% endif %}">
                        <h2 class="title entry-title" itemprop="name headline">{{ page.title }}</h2>
                        {% if page.featured_image %}
                            <meta name="image" itemprop="image" content="https:{{ site.baseurl }}/images/{{ page.featured_image }}" />
                        {% endif %}
                        <link itemprop="mainEntityOfPage" href="{{ site.baseurl }}{{ page.url | replace:'index.html',''}}" />
                        <div class="postdate entry-date date-header">
                            <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{% assign d = page.date | date: "%d" | plus:'0' %}
                                {{ page.date | date: "%B" }}
                                {% case d %}
                                  {% when 1 or 21 or 31 %}{{ d }}st,
                                  {% when 2 or 22 %}{{ d }}nd,
                                  {% when 3 or 23 %}{{ d }}rd,
                                  {% else %}{{ d }}th,
                                  {% endcase %}
                                {{ page.date | date: "%Y" }}
                            </time>
                        </div>

                        <div class="entry post-body" id="contentAfterTitle" itemprop="articleBody">
                            {{ content | toc_generate }}
                        </div>
                        <div class="postmeta">Posted in
                            {% for category in page.categories %}
                                <a href="{{ site.baseurl }}/category/{{ category | CategorySlugFilter }}/">{{ category }}</a><!--TODO: Displayed category name should be upper case! -->
                            {% endfor %} | Tags:
                            {% for tag in page.tags %}
                                {% if forloop.index0 == 0 %}
                                    <a href="{{ site.baseurl }}/tag/{{ tag | slugify }}/">{{ tag }}</a>
                                {% else %}, <a href="{{ site.baseurl }}/tag/{{ tag | slugify }}/">{{ tag }}</a>
                                {% endif %}
                            {% endfor %} by <a rel="author" class="vcard author post-author" itemprop="author" href="{{ site.baseurl }}/author/{{ page.author | downcase | replace:' ','-' }}/"><span class="fn" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span></a> on <span class="updated"><span class="value-title" title="{{ page.date }}">{% assign d = page.date | date: "%d" | plus:'0' %}
                                {{ page.date | date: "%B" }}
                                {% case d %}
                                  {% when 1 or 21 or 31 %}{{ d }}st
                                  {% when 2 or 22 %}{{ d }}nd
                                  {% when 3 or 23 %}{{ d }}rd
                                  {% else %}{{ d }}th
                                  {% endcase %},
                                {{ page.date | date: "%Y" }}</span></span></div>

                            <div class="navigation clearfix">
                                <div class="alignleft">
                                {% if page.previous.url %}
                                    &laquo; <a href="{{ site.baseurl }}{{page.previous.url}}/" rel="prev">{{page.previous.title}}</a>
                                {% endif %}
                                </div>
                                <div class="alignright">
                                {% if page.next.url %}
                                    <a href="{{ site.baseurl }}{{page.next.url}}/" rel="next">{{page.next.title}}</a> &raquo;
                                {% endif %}
                                </div>
                            </div>

                        </article>
                        <div id="respond">
                            <h3>Leave a Reply</h3>
                            {% include discuss.html %}
                        </div>
                    </div>
                </div>
            <div class="span-8 last">
                {% include subscriptions.html %}
                <div id="sidebar">
                {% include searchbox.html %}
                {% include addthis-toolbox.html %}
                <ul>
                    <li id="categories-3" class="widget widget_categories">
                        {% include categories.html %}
                    </li>
                </ul>
                </div>
            </div>
        </div><!--/container-->
            <footer id="footer">
                <a href="{{ site.baseurl }}"><strong itemprop="publisher">Martin Thoma</strong></a> -  A blog about Code, the Web and Cyberculture. <br />
                <div class="footer-credits">
                    <a href="http://flexithemes.com/themes/modern-style/">Modern Style</a> theme by <a href="http://flexithemes.com/">FlexiThemes</a>
                </div>
            </footer><!--/footer-->

    </div><!--/wrapper-->
{% include footer.html %}
