{% include head.html %}
<!-- type: post.html -->
<body>
	<div id="wrapper">
		<div id="container" class="container">
			<div class="span-16">
                <div id="header">
                    <h1><a href="{{ site.baseurl }}">Martin Thoma</a></h1>
				    <h2>A blog about Code, the Web and Cyberculture.</h2>
			    </div>
                <div class="navcontainer">
					<ul id="nav">
						<li><a href="{{ site.baseurl }}">Home</a></li>
						<li class="page_item page-item-41"><a href="{{ site.baseurl }}/about-martin-thoma/">About Me</a></li>
                        <li class="page_item page-item-91"><a href="{{ site.baseurl }}/imprint/">Imprint</a></li>
					</ul>
				</div>
            	<div id="content">	
                    <div class="post type-post status-publish format-standard hentry clearfix">
                        <h2 class="title entry-title">{{ page.title }}</h2>
			            <div class="postdate">
                            <span>{% assign d = page.date | date: "%d" | plus:'0' %}
                                {{ page.date | date: "%B" }} 
                                {% case d %}
                                  {% when 1 or 21 or 31 %}{{ d }}st,
                                  {% when 2 or 22 %}{{ d }}nd,
                                  {% when 3 or 23 %}{{ d }}rd,
                                  {% else %}{{ d }}th,
                                  {% endcase %}
                                {{ page.date | date: "%Y" }}
                            </span>
                            <!-- TODO<span><a href="check-point-inside-polygon/#respond" title="Comment on How to check if a point is inside of a polygon?">No Comments</a></span>-->
                        </div>
			
						<div class="entry">
                            {{ content | toc_generate }}
						</div>
						<div class="postmeta">Posted in 
                            {% for cat in page.categories %}
                                <a href="{{ site.baseurl }}/category/{{ cat }}">{{ cat }}</a><!--TODO: Displayed category name should be upper case! -->
                            {% endfor %} | Tags: 
                            {% for tag in page.tags %}
                                {% if forloop.index0 == 0 %}
                                    <a href="{{ site.baseurl }}/tag/{{ tag }}">{{ tag }}</a>
                                {% else %}, <a href="{{ site.baseurl }}/tag/{{ tag }}">{{ tag }}</a>
                                {% endif %}
                            {% endfor %} by <a rel="author" class="vcard author" href="{{ site.baseurl }}/author/moose/"><span class="fn">Martin Thoma</span></a> on <span class="updated"><span class="value-title" title="{{ page.date }}">{% assign d = page.date | date: "%d" | plus:'0' %}
                                {{ page.date | date: "%B" }} 
                                {% case d %}
                                  {% when 1 or 21 or 31 %}{{ d }}st
                                  {% when 2 or 22 %}{{ d }}nd
                                  {% when 3 or 23 %}{{ d }}rd
                                  {% else %}{{ d }}th
                                  {% endcase %}, 
                                {{ page.date | date: "%Y" }}</span></span></div>

							<div class="navigation clearfix">
                                <div class="alignleft">
                                {% if page.previous.url %}
                                    &laquo; <a href="{{page.previous.url}}" rel="prev">{{page.previous.title}}</a>
                                {% endif %} 
                                </div>
								<div class="alignright">
                                {% if page.next.url %}
                                    <a href="{{page.next.url}}" rel="next">{{page.next.title}}</a> &raquo;
                                {% endif %} 
                                </div>
							</div>
	
						</div>
                        <div id="respond">
                            <h3>Leave a Reply</h3>
                            <div class="cancel-comment-reply">
	                            <small><a rel="nofollow" id="cancel-comment-reply-link" href="/check-point-inside-polygon/#respond" style="display:none;">Click here to cancel reply.</a></small>
                            </div>
    <!--- comment discuss code --->
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'martinthoma'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    <!--- comment discuss code --->
                        </div>
                    </div>
			    </div>
            <div class="span-8 last">
                <div id="subscriptions">
                    <a href="{{ site.baseurl }}/feed/"><img src="{{ site.baseurl }}/css/images/rss.png" alt="Subscribe to RSS Feed" title="Subscribe to RSS Feed" /></a>		
		<a href="http://twitter.com/#!/themoosemind" title="Follow me on Twitter!"><img src="{{ site.baseurl }}/css/images/twitter.png" title="Follow me on Twitter!" alt="Follow me on Twitter!"  /></a>    </div>
	<div id="sidebar">
        <ul>
            <li id="search">
				 
<div class="searchlayout">
    <form method="get" id="searchform" action="{{ site.baseurl }}"> <!-- TODO-->
        <input type="text" value="Search" 
            name="s" id="s"  onblur="if (this.value == '')  {this.value = 'Search';}"  
            onfocus="if (this.value == 'Search') {this.value = '';}" />
        <input type="image" src="{{ site.baseurl }}/css/images/search.gif" style="border:0; vertical-align: top;" /> 
    </form>
</div>			</li>
        </ul>
            			<div class="addthis_toolbox">   
    			    <div class="custom_images">
    			            <a class="addthis_button_twitter"><img src="{{ site.baseurl }}/css/images/socialicons/twitter.png" width="32" height="32" alt="Twitter" /></a>
    			            <a class="addthis_button_delicious"><img src="{{ site.baseurl }}/css/images/socialicons/delicious.png" width="32" height="32" alt="Delicious" /></a>
    			            <a class="addthis_button_facebook"><img src="{{ site.baseurl }}/css/images/socialicons/facebook.png" width="32" height="32" alt="Facebook" /></a>
    			            <a class="addthis_button_digg"><img src="{{ site.baseurl }}/css/images/socialicons/digg.png" width="32" height="32" alt="Digg" /></a>
    			            <a class="addthis_button_stumbleupon"><img src="{{ site.baseurl }}/css/images/socialicons/stumbleupon.png" width="32" height="32" alt="Stumbleupon" /></a>
    			            <a class="addthis_button_favorites"><img src="{{ site.baseurl }}/css/images/socialicons/favorites.png" width="32" height="32" alt="Favorites" /></a>
    			            <a class="addthis_button_more"><img src="{{ site.baseurl }}/css/images/socialicons/more.png" width="32" height="32" alt="More" /></a>
    			    </div>
    			    <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js?pub=xa-4a65e1d93cd75e94"></script>
    			</div>
    					        
		<ul>
    <li id="categories-3" class="widget widget_categories">
        {% include categories.html %}
    </li>
    <li id="tag_cloud-3" class="widget widget_tag_cloud"><h2 class="widgettitle">Tags</h2><div class="tagcloud">{% tag_cloud font-size: 90 - 270.00%, threshold: 5%}</div>
</li>		</ul>
	</div>
</div>
		</div><!--/container-->
			<div id="footer">
				<a href="{{ site.baseurl }}"><strong>Martin Thoma</strong></a> -  A blog about Code, the Web and Cyberculture. <br />
                <div class="footer-credits">
                    <a href="http://flexithemes.com/themes/modern-style/">Modern Style</a> theme by <a href="http://flexithemes.com/">FlexiThemes</a>
                </div>
			</div><!--/footer-->
            
	</div><!--/wrapper-->
{% include footer.html %}
