---
layout: default-wp
---
<!-- type: tag-wp -->
<h2 class="post_title">{{page.title}}</h2>
<ul>
  {% for post in site.posts %}
  {% for tag in post.tags %}
  {% if tag == page.tag %}

	<div class="{{ post.id }} post type-post status-publish format-standard hentry category-code tag-algorithms tag-geometry tag-python clearfix" id="{{ post.id }}">
        <h2 class="title"><a href="{{ post.url }}" rel="bookmark" title="Permanent link to '{{ post.title }}'">{{ post.title }}</a></h2>
		<div class="postdate">
            <span>{{ post.date | date: '%B' }} {{ post.date | date: '%e' }}, {{ post.date | date: '%Y' }}</span> 
            <!--<span>No Comments / 1 comment / 2 comments</span>-->
        </div>

		<div class="entry">
            {% if post.featured_image %}
            <img width="128" height="128" src="{{ site.baseurl }}images/{{ post.featured_image }}" class="alignleft post_thumbnail wp-post-image" alt="{{ post.title }}"/>
            {% endif %}
 
			{{ post.excerpt }}
            <div class="readmorecontent">
				<a class="readmore" href="{{ post.url }}" rel="bookmark" title="Permanent Link to <?php the_title_attribute(); ?>">Read More &raquo;</a>
			</div>
		</div>
	</div>
  {% endif %}
  {% endfor %}
  {% endfor %}
</ul>
